.todo-container {
    button {
        cursor: pointer;
    }



    .todo-input {}

    .todo-child {
        fieldset:first-child {
            background-color: aqua;
        }

        .edit {
            margin: 0 10px;
        }

        margin: 0 auto;
        width: 400px;
        border-bottom: 1px solid gray;
    }
}